@using KgysProjectIdentity.Service.Services;
@{
    ViewData["Title"] = "Index";
    string spareMaterialDetail = "";
}
@model SpareMaterialDefinationsViewModel
@inject SpareMaterialsService _spareMaterialsService

<div class="container-fluid" style="align-items:center;justify-content:center; text-align:center">
    <div class="col-md-4 offset-md-4 text-center">
        <h1>Yedek Malzeme Talepleri</h1>
        @if (TempData["status"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["status"]
            </div>
        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["error"]
            </div>
        }
    </div>
    <div class="row row-cols-1 row-cols-md-4 g-3 mt-5" style="display:flex;flex-direction:row;align-items:center;justify-content:center; text-align:center">
        @foreach (var item in ViewBag.TopMaterials)
        {
            string backColor = "#" + new Random().Next(0x1000000).ToString("X6");
            spareMaterialDetail = _spareMaterialsService.GetMiddleMaterialsName(item.Id);
            <div class="col mt-3" style="display:flex;flex-direction:column;align-items:center;justify-content:center; text-align:center">
                <div style="display: flex; justify-content: center; gap: 20px; padding: 5px;">
                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropp"
                       data-bs-id="@item.Id" data-bs-name="@item.SpareMaterialName"
                       style="text-decoration: none; color: darkblue; cursor: pointer; font-weight: bold;"
                       onmouseover="this.style.color='navy'; this.style.textDecoration='underline';"
                       onmouseout="this.style.color='darkblue'; this.style.textDecoration='none';">
                        Güncelle
                    </a>

                    <a data-bs-toggle="modal" data-bs-target="#staticBackdropSil"
                       data-bs-id="@item.Id"
                       style="text-decoration: none; color: red; cursor: pointer; font-weight: bold;"
                       onmouseover="this.style.color='darkred'; this.style.textDecoration='underline';"
                       onmouseout="this.style.color='red'; this.style.textDecoration='none';">
                        Sil
                    </a>
                </div>
                <a style="text-decoration:none;" asp-controller="SpareMaterials" asp-action="MaterialDetails" asp-route-id="@item.Id">
                    <div class="card mb-3 mt-2 box justify-content-center  shadow shadow-md" style="min-width:196px;width: 18rem;height:14rem;border:1.5px solid">
                        <div class="card-header"><h5>@item.SpareMaterialName.ToUpper()</h5></div>
                        <div class="card-body justify-content-center d-flex flex-column">
                            <p class="card-text">@spareMaterialDetail</p>
                        </div>
                    </div>
                </a>
            </div>
        }
        <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="mt-5" style="text-decoration:none;cursor:pointer">
            <div class="col" style="display:flex;flex-direction:row;align-items:center;justify-content:center; text-align:center">
                <div class="card mb-3 box border-success-subtle justify-content-center  shadow shadow-md" style="min-width:196px;width: 18rem;height:14rem;border:1.5px solid">
                    <div class="card-body justify-content-center d-flex flex-column text-success">
                        <p class="card-text" style="font-size:3rem">+</p>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
@*Modal Ana Ürün Ekle*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Ekleme </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Lütfen Yeni Ürün Adını Giriniz</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="AddSpareMaterialDefinations" method="post">
                    <div class="mb-2 mt-2">
                        <input type="text" asp-for="SpareMaterialName" class="form-control" />
                        <input type="hidden" class="form-control" asp-for="SpareMaterialCode" value="0">
                        <span class="text-danger" asp-validation-for="SpareMaterialName"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal Ana Ürün Güncelle*@
<div class="modal fade" id="staticBackdropp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Ekleme </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Lütfen Yeni Ürün Adını Giriniz</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="UpdateSpareMaterialDefinations" method="post">
                    <div class="mb-2 mt-2">
                        <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                        <input type="text" asp-for="SpareMaterialName" class="form-control" id="recipients-name" />
                        <span class="text-danger" asp-validation-for="SpareMaterialName"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal Silme*@
<div class="modal fade" id="staticBackdropSil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropSilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dikkat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Silmek İstediğinize Emin Misiniz?</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="RemoveSpareMaterialDefinations" method="post">
                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        document.querySelectorAll(".box").forEach(card => {
            card.addEventListener("mouseenter", function () {
                this.style.transform = "rotate(360deg)";
                this.style.transition = "transform 0.5s ease-in-out, border-color 0.5s";

            });

            card.addEventListener("mouseleave", function () {
                this.style.transform = "rotate(0deg)";
            });
        });
    </script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/lib/jquery-validation/dist/messages_tr.js"></script>
}


