@using KgysProjectIdentity.Service.Services

@{
    ViewData["Title"] = "MaterialDetails";
    int i = 0;
    string productName = "";
}

@inject SpareMaterialsService spareMateialsService
@model SpareMaterialDefinationsViewModel
<style>
    td {
        width: auto;
    }
</style>
<div class="container d-flex flex-column justify-content-center text-center">
    <h1>@ViewBag.PageName Yedek Malzeme Talepleri</h1>
    <div class="col-md-8 text-center">        
        @if (TempData["status"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["status"]
            </div>

        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["error"]
            </div>

        }
    </div>
</div>
<div class="container mt-lg-5">

    <a class="btn btn-secondary" role="button" asp-controller="" asp-action="">Excele Aktar</a>
    <a class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" style="text-decoration:none;cursor:pointer">Y.Malzeme Ekle</a>
    <a class="btn btn-secondary" role="button" asp-controller="SpareMaterials" asp-action="MaterialDetailAdd" asp-route-id="@ViewBag.SpareMaterialsCode">Talep/Alım Ekle</a>


    <div id="content" class="offset-9 form-group pull-right mb-3">
        <input type="text" class="search form-control" placeholder="Aranılacak Kelimeyi Giriniz" style="width:300px">
        <span class="counter pull-right"></span>
    </div>

    <table class="table table-striped table-hover text-center table-bordered results" style=" vertical-align:middle; table-layout:fixed; text-transform:capitalize">
        <thead>
            <tr class="table-light">
                <th>Sıra No</th>
                <th>Malzeme Adı</th>
                <th>Alt Türü ve Adeti</th>
                <th>Toplam Adet</th>
                <th style="width:150px">İşlem</th>
            </tr>
            <tr class="warning no-result">
                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Materials)
            {
                i++;
                int count = 0;
                int rowspanCount = 0;
                rowspanCount = spareMateialsService.GetMaterialsProductCount(item.Id);
                <tr>
                    <th scope="row">@i</th>
                    @{
                        string materialName = spareMateialsService.CapitalizeAfterComma(item.SpareMaterialName.ToLower());
                    }
                    <td><a role="button" asp-controller="SpareMaterials" asp-action="MaterialDetailIndex" asp-route-id="@item.Id">@materialName</a></td>
                    @{
                        List<SpareMaterialsModel> productGet = spareMateialsService.GettingMaterialsProduct(item.Id);

                    }
                    <td>
                        <ul>
                            @foreach (var product in productGet)
                            {
                                string materialsProducts = product.Properties + " " + product.MaterialDetails + " = " + Convert.ToString(spareMateialsService.GetMaterialsProductDetailCount(product.Properties, product.MaterialDetails!, item.Id)) + " " + product.Measurement;
                                @if (productName != materialsProducts)
                                {
                                    productName = materialsProducts;
                                    <li style="list-style-type:none">@materialsProducts</li>
                                }
                            }

                        </ul>
                    </td>
                    <td>
                        @{
                            count = spareMateialsService.GetMaterialsCount(item.Id);
                        }
                        @count
                    </td>

                    <td style="width:150px">
                        @if (User.HasClaim(x => x.Value == "Admin" || x.Value == "Hat" || x.Value == "Silme"))
                        {
                            @if (User.HasClaim(x => x.Value == "Silme"))
                            {
                                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id">Sil</a>
                            }
                            <a data-bs-toggle="modal" data-bs-target="#staticBackdropp" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id" data-bs-name="@materialName">Güncelle</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Modal Ürün Ekle*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Ekleme </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Lütfen Yeni Ürün Adını Giriniz</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="AddSpareMaterialDefinations" method="post">
                    <div class="mb-2 mt-2">
                        <label asp-for="SpareMaterialName">Malzeme Adı:</label>
                        <input type="text" asp-for="SpareMaterialName" class="form-control" />
                        <span class="text-danger" asp-validation-for="SpareMaterialName"></span>
                    </div>
                    <input asp-for="SpareMaterialCode" type="hidden" value="@ViewBag.SpareMaterialsCode" />
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal Ürün Güncelle*@
<div class="modal fade" id="staticBackdropp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Ekleme </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Lütfen Yeni Ürün Adını Giriniz</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="UpdateSpareMaterialDefinations" method="post">
                    <div class="mb-2 mt-2">
                        <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                        <input type="text" asp-for="SpareMaterialName" class="form-control" id="recipients-name" />
                        <span class="text-danger" asp-validation-for="SpareMaterialName"></span>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal Silme*@
<div class="modal fade" id="staticBackdropSil" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropSilLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dikkat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h5>Silmek İstediğinize Emin Misiniz?</h5>
                <form asp-area="" asp-controller="SpareMaterials" asp-action="RemoveSpareMaterialDefinations" method="post">
                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


