@using KgysProjectIdentity.Service.Services

@{
    ViewData["Title"] = "MaterialDetails";
    int i = 0;
}

@inject SpareMaterialsService spareMateialsService
@model SpareMaterialsViewModel
<style>
    td {
        width: auto;
    }
</style>
<div class="col-md-4 offset-md-4 text-center">
    <h1>Hali Hazırda Bulunan Ürünler</h1>
    @if (TempData["status"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["status"]
        </div>

    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-danger text-center" role="alert">
            @TempData["error"]
        </div>

    }
</div>
<div class="container mt-lg-5">

    <a class="btn btn-secondary" role="button" asp-controller="WareHouse" asp-action="CreateExcel">Excele Aktar</a>
    <a id="btnSubmit" type="button" class="btn btn-secondary" asp-controller="WareHouse" asp-action="MaterialsDetailAdd">Ürün Ekle</a>


    <div id="content" class="offset-9 form-group pull-right mb-3">
        <input type="text" class="search form-control" placeholder="Aranılacak Kelimeyi Giriniz" style="width:300px">
        <span class="counter pull-right"></span>
    </div>

    <table class="table table-striped table-hover text-center table-bordered results" style=" vertical-align:middle; table-layout:fixed; text-transform:capitalize">
        <thead>
            <tr class="table-light">
                <th>Sıra No</th>
                <th>Malzeme Adı</th>
                <th>Alt Türü ve Adeti</th>
                <th>Toplam Adet</th>
                <th style="width:150px">İşlem</th>
            </tr>
            <tr class="warning no-result">
                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Materials)
            {
                i++;
                int count = 0;
                int rowspanCount = 0;
                rowspanCount = spareMateialsService.GetMaterialsProductCount(item.Id);
                <tr>
                    <th scope="row">@i</th>

                    <td><a role="button" asp-controller="WareHouse" asp-action="MaterialsDetailIndex" asp-route-id="@item.Id">@Char.ToUpper(item.SpareMaterialName[0])@item.SpareMaterialName.Substring(1)</a></td>
                    @{
                        List<SpareMaterialsModel> productGet = spareMateialsService.GettingMaterialsProduct(item.Id);

                    }
                    <td>
                        <ul>
                            @foreach (var product in productGet)
                            {
                                string materialsProducts = product.Properties + " " + product.MaterialDetails + " = " + Convert.ToString(spareMateialsService.GetMaterialsProductDetailCount(product.Properties, product.MaterialDetails!, item.Id)) + " "+product.Measurement;
                                <li style="list-style-type:none">@materialsProducts</li>
                            }

                        </ul>
                    </td>
                    <td>
                        @{
                            count = spareMateialsService.GetMaterialsCount(item.Id);
                        }
                        @count
                    </td>                 

                    <td style="width:150px">
                        @if (User.HasClaim(x => x.Value == "Admin" || x.Value == "Hat" || x.Value == "Silme"))
                        {
                            @if (User.HasClaim(x => x.Value == "Silme"))
                            {
                                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id">Sil</a>
                            }
                            <a data-bs-toggle="modal" data-bs-target="#staticBackdropp" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id">Güncelle</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*Modal*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dikkat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz?
                <form asp-area="" asp-controller="WareHouse" asp-action="MaterialRemove" method="post">

                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Modal*@
<div class="modal fade" id="staticBackdropp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdroppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün İsmi Güncelleme</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h2>Lütfen Ürünün Yeni Adını Giriniz</h2>
                <form asp-area="" asp-controller="WareHouse" asp-action="MaterialUpdate" method="post">
                    <div class="mb-2 mt-2">
                        <input class="form-control" type="text" asp-for="Id" required />
                    </div>
                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Güncelle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>







@section Scripts
{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}


