@{
    ViewData["Title"] = "MaterialsDetailAdd";
}
@model MaterialsDetailViewModel
<html>
<head>

</head>
<body>
    <div class="col-md-4 offset-md-4">
        <h1>Detaylı Ürün Ekleme Sayfası</h1>
        @if (TempData["status"] != null)
        {
            <div class="alert alert-success text-center" role="alert">
                @TempData["status"]
            </div>

        }
        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger text-center" role="alert">
                @TempData["error"]
            </div>

        }
    </div>
    <div class="container">
        <div class="mb-3">
            <a role="button" data-bs-toggle="modal" data-bs-target="#staticBackdroppp" class="btn btn-secondary">Ana Ürün Ekle</a>
            <a role="button" data-bs-toggle="modal" data-bs-target="#staticBackdropp" class="btn btn-secondary">Alt Ürün Ekle</a>
        </div>
        <div asp-validation-summary="ModelOnly"></div>
        <form asp-controller="WareHouse" asp-action="MaterialsDetailAdd" method="post">
            <div class="mb-3">
                <label asp-for="Material" class="form-label">Ana Ürün :</label>
                <select class="form-select" asp-for="Material" asp-items="@ViewBag.Material" id="District">
                </select>
                <span class="text-danger" asp-validation-for="Material"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Product" class="form-label">Alt Ürün :</label>
                <select class="form-select" asp-for="Product" asp-items="@Enumerable.Empty<SelectListItem>()" id="DistrictArea">
                </select>
                <span class="text-danger" asp-validation-for="Product"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaterialBrandCode" class="form-label"> Ürün Kodu :</label>
                <input type="text" class="form-control" asp-for="MaterialBrandCode">
                <span class="text-danger" asp-validation-for="MaterialBrandCode"></span>
            </div>
            <div class="mb-3">
                <label asp-for="MaterialBrand" class="form-label">Marka / Model :</label>
                <input type="text" class="form-control" asp-for="MaterialBrand">
                <span class="text-danger" asp-validation-for="MaterialBrand"></span>
            </div>
            <div class="mb-3">
                <label asp-for="TechnicalSpecification1" class="form-label">Teknik Özellik :</label>
                <input type="text" class="form-control" asp-for="TechnicalSpecification1">
                <span class="text-danger" asp-validation-for="TechnicalSpecification1"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SerialNo" class="form-label">Seri Numarası :</label>
                <input type="text" class="form-control" asp-for="SerialNo">
                <span class="text-danger" asp-validation-for="SerialNo"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Explanation" class="form-label">Açıklama :</label>
                <input type="text" class="form-control" asp-for="Explanation">
                <span class="text-danger" asp-validation-for="Explanation"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Shelf" class="form-label">Bulunduğu Raf :</label>
                <input type="text" class="form-control" asp-for="Shelf">
                <span class="text-danger" asp-validation-for="Shelf"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Status" class="form-label">Durumu :</label>
                <select class="form-select" asp-for="Status" asp-items="@ViewBag.Status">
                </select>
                <span class="text-danger" asp-validation-for="Status"></span>
            </div>


            <div class="mb-4">
                <button type="submit" class="btn btn-outline-primary d-md-block">Kaydet</button>
            </div>


        </form>

    </div>
    
</body>
</html>
@*Modal ana ürün*@
<div class="modal fade" id="staticBackdroppp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Ürün Ekleme </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <h2>Lütfen Yeni Ürün Adını Giriniz</h2>
                <form asp-area="" asp-controller="WareHouse" asp-action="MaterialAdd" method="post">
                    <div class="mb-2 mt-2">
                        <input type="text" asp-for="Material" class="form-control" />
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-primary d-md-block">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@*Modal alt ürün*@
<div class="modal fade" id="staticBackdropp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdroppLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Alt Ürün Ekleme Modülü</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Eklenecek Alt Ürün Bilgisi Giriniz
                <form asp-area="" asp-controller="WareHouse" asp-action="MaterialProductAdd" method="post">
                    <div class="mb-3">
                        <label asp-for="Material" class="form-label">Ana Ürün :</label>
                        <select class="form-select" asp-for="Material" asp-items="@ViewBag.Material">
                        </select>
                        <span class="text-danger" asp-validation-for="Material"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Product" class="form-label">Alt Ürün :</label>
                        <input type="text" class="form-control" asp-for="Product" required>
                        <span class="text-danger" asp-validation-for="Product"></span>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Ekle</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@*Ürün seçince alt ürün gelmesi için konuldu*@
<script type="text/javascript">
    $(document).ready(function () {
        // Ürün seçildiğinde bu fonksiyon çalışmaya başlayacak.
        $('#District').change(function () {
            // Seçilen İlçenin ID sini alıyoruz.
            var ProductId = $(this).val();
            /*Seçilen ProductId sini kullanarak
            WareHouse(Controller) sınıfı içerisindeki GetProduct
            Action metodunu çağırıyoruz.
            Bu metoddan dönen liste sayesinde .each fonksiyonu ile
            DistrictArea idli SelectList nesnesini dolduruluyor.*/
            if (ProductId != null && ProductId != '') {
                $.ajax({
                    type: "post",
                    url: '@Url.Action("GetProduct", "WareHouse")',
                    data: { ProductId: ProductId },
                    success: function (getProduct) {
                        console.log(getProduct);
                        $('#DistrictArea').empty();
                        $.each(getProduct, function (index, product) {
                            $('#DistrictArea').append($('<option/>', {
                                value: product.id,
                                text: product.productName
                            }));
                        });
                    },
                    error: function () {
                        /*Bu metod ile Ajax işlemi başarısız
                        olursa eğer hata mesajı verebiliyoruz.*/
                        alert("Hata");
                    },
                    beforeSend: function () {
                        /*Burada ise Form Post edilmeden önce
                        işlemler yapılabilir.Örnek olarak Loading, yükleniyor vs..*/
                    },
                    complete: function () {
                        /*Burada ise Form Post edildikten sonra
                        işlemler yapılabilir.Örnek olarak yükleme tamamlandı vs..*/
                    }
                });
            }
        });
    });
</script>

@*Hatayı henüz Client tarafında kontrol etmek için aşağıdaki komutlar kullanılır.*@
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }




