@{
    ViewData["Title"] = "MaterialsDetailIndex";
    int i = 0;
}
@inject GetProject project
@model MaterialsDetailViewModel
<div class="col-md-4 offset-md-4 text-center">
    <h1>Malzeme Detay Durumu</h1>
    @if (TempData["status"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["status"]
        </div>

    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["error"]
        </div>

    }
</div>
<div class="container mt-lg-5">

    <a id="btnSubmit" type="button" class="btn btn-secondary" asp-controller="WareHouse" asp-action="UsingMaterialsDetailIndex">Kullanımda Olanlar</a>
    <a id="btnSubmit" type="button" class="btn btn-secondary" asp-controller="WareHouse" asp-action="WaitingMaterialsDetailIndex">İşlem Bekleyenler</a>
    <a id="btnSubmit" type="button" class="btn btn-secondary" asp-controller="WareHouse" asp-action="SendMaterialsDetailIndex">Çıkışı Yapılan Ürünler</a>
    <a id="btnSubmit" type="button" class="btn btn-secondary" asp-controller="WareHouse" asp-action="HekMaterialsDetailIndex">HEK Edilen Ürünler</a>




    <div id="content" class="offset-9 form-group pull-right mb-3">
        <input type="text" class="search form-control" placeholder="Aranılacak Kelimeyi Giriniz" style="width:300px">
        <span class="counter pull-right"></span>
    </div>

    <table class="table table-striped table-hover text-center table-bordered results" id="dataTable" style=" vertical-align:middle;text-transform:capitalize">
        <thead>
            <tr class="table-light">
                <th>Sıra No</th>
                <th>Malzeme Adı</th>
                <th>Kullanım Detayı</th>
                <th>Marka / Model</th>
                <th>Seri No</th>
                <th>Teknik Özellikleri</th>
                <th>Açıklama</th>
                <th>Durumu</th>
                <th>Yeri</th>
                <th>İşlem</th>
            </tr>
            <tr class="warning no-result">
                <td colspan="4"><i class="fa fa-warning"></i> No result</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in ViewBag.Materials)
            {
                i++;

                string count = project.GetMaterialsDetailCount(item.MaterialBrand);
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Material.ToLower()</td>
                    <td>
                        @if (item.Product != null)
                        {
                            @item.Product.ToLower()
                        }
                    </td>
                    <td>
                        @if (item.MaterialBrand != null)
                        {
                            @item.MaterialBrand.ToLower()
                        }
                    </td>
                    <td>@item.SerialNo</td>
                    <td>
                        @if (item.TechnicalSpecification1 != null)
                        {
                            @item.TechnicalSpecification1.ToLower()
                        }
                    </td>

                    <td>
                        @if (item.Explanation != null)
                        {
                            @item.Explanation.ToLower()
                        }
                    </td>
                    <td>@item.Status</td>

                    <td>
                        @if (item.WhoTake != null)
                        {
                            @item.WhoTake.ToLower()
                        }
                    </td>
                    <td>
                        @if (User.HasClaim(x => x.Value == "Admin" || x.Value == "Depo" || x.Value == "Silme"))
                        {
                            @if (User.HasClaim(x => x.Value == "Silme"))
                            {
                                <a data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id">Sil</a>

                            }
                            <a class="btn btn-outline-secondary d-md-block" role="button" asp-controller="WareHouse" asp-action="MaterialsDetailUpdate" asp-route-id="@item.Id">Güncelle</a>

                        }

                    </td>
                </tr>

            }
        </tbody>
    </table>
</div>

@*Modal*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dikkat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz?
                <form asp-area="" asp-controller="WareHouse" asp-action="MaterialsDetailRemove" method="post">

                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
