@using System.Security.Claims;
@inject GetProject getProject
@{
    List<ProjectsModel> projects = getProject.GettingProjects();
}
@if (User.Identity!.IsAuthenticated)
{
    @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "Hat" || x.Value == "Yönetici" || x.Value == "PlanlamaAmiri"))
    {
        <li class="nav-item dropdown" id="myDropdown">
            <button class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown">  Hat Başvuruları  </button>
            <ul class="dropdown-menu" style="background-color:black">
                <li><a class="nav-link text-light " asp-area="" asp-controller="TelecomFo" asp-action="Index">Telekom Başvuruları</a></li>
                <li><a class="nav-link text-light " asp-area="" asp-controller="SecondaryRequest" asp-action="Index">Tali İzleme Noktaları</a></li>
                <li>
                    <a class="nav-link text-light" href="#">  Başvuru İşlemleri &raquo; </a>
                    <ul class="submenu dropdown-menu" style="background-color:black">
                        <li><a class="nav-link text-light " asp-area="" asp-controller="TelecomFo" asp-action="TeamAdd">Telekom Ekibi Ekle</a></li>
                        <li><a class="nav-link text-light " asp-area="" asp-controller="TelecomFo" asp-action="KuppaMultiplier">Kuppa Çarpanı Düzenle</a></li>
                    </ul>
                </li>
            </ul>
        </li>
    }
    @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "KGYS" || x.Value == "Yönetici" || x.Value == "PlanlamaAmiri"))
    {
        <li class="nav-item dropdown" id="myDropdown">
            <button class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown">   Proje Durumları  </button>
            <ul class="dropdown-menu" style="background-color:black">
                <li>
                    <a class="nav-link text-light" href="#">  KGYS Projeleri &raquo; </a>
                    <ul class="submenu dropdown-menu" style="background-color:black">
                        <li>
                            <a class="nav-link text-light" href="#">  2020 Yılı Sonrası Projeler &raquo; </a>
                            <ul class="submenu dropdown-menu" style="background-color:black">
                                @foreach (var project in projects)
                                {
                                    if (project.Year >= 2020)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light " asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="@project.Id" method="post">@project.Project</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="#">  2016 - 2020 Yılları Arası Projeler &raquo; </a>
                            <ul class="submenu dropdown-menu" style="background-color:black">
                                @foreach (var project in projects)
                                {
                                    if (project.Year >= 2016 && project.Year < 2020)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light " asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="@project.Id" method="post">@project.Project</a>
                                        </li>
                                    }
                                }

                            </ul>
                        </li>
                        <li>
                            <a class="nav-link text-light" href="#">  2016 Yılı Öncesi Projeler &raquo; </a>
                            <ul class="submenu dropdown-menu" style="background-color:black">
                                @foreach (var project in projects)
                                {
                                    if (project.Year < 2016)
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-light " asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="@project.Id" method="post">@project.Project</a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    </ul>
                </li>
                <li>
                  <a class="nav-link text-light " asp-area="" asp-controller="IpPhone" asp-action="Index">Ip Telefon Projesi</a>  
                </li>
                @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "Planlama" || x.Value == "PlanlamaAmiri" || x.Value == "Hat" || x.Value == "Yönetici"))
                {
                    <li>
                        <a class="nav-link text-light" href="#">  Proje İşlemleri &raquo; </a>
                        <ul class="submenu dropdown-menu" style="background-color:black">
                            <li><a class="nav-link text-light " asp-area="" asp-controller="Projects" asp-action="ProjectAdd">KGYS Proje Ekleme</a></li>
                            <li><a class="nav-link text-light " asp-area="" asp-controller="IpPhone" asp-action="Project">IP Telefon Projesi Ekleme</a></li>
                        </ul>
                    </li>
                }
            </ul>
        </li>
    }
    <li class="nav-item dropdown" id="myDropdown">
        @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "Planlama" || x.Value == "PlanlamaAmiri" || x.Value == "Yönetici"))
        {
            <button class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown">   Bekleyen İşler  </button>
            <ul class="dropdown-menu" style="background-color:black">

                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="WaitingJobs" asp-action="Index">Onay Bekleyen İşler</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="WaitingJobs" asp-action="AssignedJobsIndex">Atanan İşler</a>
                </li>
                <li>
                    <a class="nav-link text-light" href="#">  İşlemler &raquo; </a>
                    <ul class="submenu dropdown-menu" style="background-color:black">
                        <li><a class="nav-link text-light " asp-area="" asp-controller="Home" asp-action="AlertAdd">Tekrarlı İş Ekleme</a></li>
                    </ul>
                </li>
            </ul>
        }
    </li>

    <li class="nav-item dropdown" id="myDropdown">
        @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "Planlama" || x.Value == "PlanlamaAmiri" || x.Value == "Yönetici"))
        {
            <button class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown"> Takipli İşler </button>
            <ul class="dropdown-menu" style="background-color:black">
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="TenderProjects" asp-action="Index">İhale Takip</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="KgysRequested" asp-action="Index">KGYS Talepleri</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="ParkAndRecreations" asp-action="Index">Park ve Rekreasyon</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="AccidentKgys" asp-action="Index">Kazalı Noktalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light " asp-area="" asp-controller="Payment" asp-action="Index">Ödenek Takip</a>
                </li>
            </ul>
        }
    </li>
    <li class="nav-item dropdown" id="myDropdown">
        @if (User.HasClaim(x => x.Type == ClaimTypes.Role && x.Value == "Admin" || x.Value == "PlanlamaAmiri" || x.Value == "Depo" || x.Value == "Yönetici"))
        {
            <button class="nav-link dropdown-toggle text-light" href="#" data-bs-toggle="dropdown"> Malzemeler </button>
            <ul class="dropdown-menu" style="background-color:black">
                <li class="nav-item">
                    <a id="btnSubmit" type="button" class="nav-link text-light " asp-area="" asp-controller="WareHouse" asp-action="Index">İşlemler</a>
                </li>
            </ul>
        }
    </li>
    <a class="nav-link text-light " asp-area="" asp-controller="Calender" asp-action="Index">İzin Modülü</a>
}