@{
    ViewData["Title"] = "Update";
}
@model TelecomFoViewModel

<html>
<head>
    <style type="text/css">
        #menu {
            display: inline-block;
            width: 40%;
        }

        #content {
            display: inline-block;
            width: 40%;
        }

    </style>
</head>

<body>
    <div class="col-md-4 offset-md-4">
        <h1 class="text-dark">Başvuru Güncelleme Sayfası</h1>
    </div>

    <div class="container">

        <form asp-controller="TelecomFo" asp-action="Update" method="post">

            <div id="menu">

                <input type="hidden" asp-for="Id" />
                <input type="hidden" asp-for="TemosNumber" />
                <div class="mb-3">
                    <label asp-for="EbysNumber" class="form-label"> EGM Onay EBYS No :</label>
                    <input type="number" class="form-control" asp-for="EbysNumber">
                    <span class="text-danger" asp-validation-for="EbysNumber"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Aplication" class="form-label">Başvuru Tipi :</label>
                    <select class="form-select" asp-for="Aplication" asp-items="@ViewBag.AplicationSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="Aplication"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="District" class="form-label">İlçe Adı :</label>
                    <select class="form-select" asp-for="District" asp-items="@ViewBag.DistrictSelect">
                        <option value=""> İlçe Seçiniz </option>
                    </select>
                    <span class="text-danger" asp-validation-for="District"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Nokta Adı :</label>
                    <input type="decimal" class="form-control" asp-for="Name">
                    <span class="text-danger" asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Vlan" class="form-label">Vlan :</label>
                    <input type="number" class="form-control" asp-for="Vlan">
                    <span class="text-danger" asp-validation-for="Vlan"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IpAddress" class="form-label">IP Adresi :</label>
                    <input type="text" class="form-control" asp-for="IpAddress">
                    <span class="text-danger" asp-validation-for="IpAddress"></span>
                </div>
               
                <div class="mb-3">
                    <label asp-for="CreatedTime" class="form-label">Başvuru Tarihi :</label>
                    <input type="date" class="form-control" asp-for="CreatedTime">
                    <span class="text-danger" asp-validation-for="CreatedTime"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Coordinate" class="form-label">Koordinat :</label>
                    <input type="text" class="form-control" asp-for="Coordinate">
                    <span class="text-danger" asp-validation-for="Coordinate"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="SlaStartTime" class="form-label">SLA Başlangıç Tarihi :</label>
                    <input type="date" class="form-control" asp-for="SlaStartTime">
                    <span class="text-danger" asp-validation-for="SlaStartTime"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EpymStatus" class="form-label">EPMYS Durumu :</label>
                    <select class="form-select" asp-for="EpymStatus" asp-items="@ViewBag.StatusEpmysSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="EpymStatus"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="EomStatus" class="form-label">EOM Durumu :</label>
                    <select class="form-select" asp-for="EomStatus" asp-items="@ViewBag.StatusSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="EomStatus"></span>
                </div>
                
            </div>

            <div id="content" class="offset-1">                
                <div class="mb-3">
                    <label asp-for="MplsOperationStatus" class="form-label">MPLS Oparasyonu Durumu :</label>
                    <select class="form-select" asp-for="MplsOperationStatus" asp-items="@ViewBag.StatusSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="MplsOperationStatus"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="MplsNmsStatus" class="form-label">MPLS NMS Durumu :</label>
                    <select class="form-select" asp-for="MplsNmsStatus" asp-items="@ViewBag.StatusSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="MplsNmsStatus"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="CheckEGM" class="form-label">EGM Kontrol Durumu :</label>
                    <select class="form-select" asp-for="CheckEGM" asp-items="@ViewBag.StatusSelect">
                    </select>
                    <span class="text-danger" asp-validation-for="CheckEGM"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Açıklama :</label>
                </div>
                <div class="form-floating mb-3">
                    <textarea asp-for="Description" class="form-control" style="height: 100px"></textarea>
                    <span class="text-danger" asp-validation-for="Description"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Team" class="form-label">TT Birimi :</label>
                    <select class="form-select" asp-for="Team" asp-items="@ViewBag.TtTeamSelect">
                        <option value=""> TT Birimi Seçiniz</option>
                    </select>
                    <span class="text-danger" asp-validation-for="Team"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KuppaDate" class="form-label">Kuppa Tarihi :</label>
                    <input type="date" class="form-control" asp-for="KuppaDate">
                    <span class="text-danger" asp-validation-for="KuppaDate"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KuppaID" class="form-label">Kuppa Id :</label>
                    <input type="text" class="form-control" asp-for="KuppaID">
                    <span class="text-danger" asp-validation-for="KuppaID"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="KuppaPStatus" class="form-label">Kuppa Durumu :</label>
                    <input type="text" class="form-control" asp-for="KuppaPStatus">
                    <span class="text-danger" asp-validation-for="KuppaPStatus"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="KuppaDistance" class="form-label">Kuppa Mesafesi :</label>
                    <input type="number" class="form-control" asp-for="KuppaDistance">
                    <span class="text-danger" asp-validation-for="KuppaDistance"></span>
                </div>
                <div class="mb-3">
                    <label  class="form-label"></label>
                    <button type="submit" class="btn btn-outline-primary d-md-block">Güncelle</button>
                </div>
               
               
            </div>

           
        </form>

    </div>


</body>
</html>

@*Hatayı henüz Client tarafında kontrol etmek için aşağıdaki komutlar kullanılır.*@
@section Scripts
    {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }