
@{
    ViewData["Title"] = "FinishApplicationIndex";
    int i = 0;
}

@model SecondaryRequestViewModel
<div class="col-md-4 offset-md-4 text-center">
    <h1>Tamalanan Tali İzleme Başvuru Durumları</h1>
    @if (TempData["status"] != null)
    {
        <div class="alert alert-success text-center" role="alert">
            @TempData["status"]
        </div>

    }
</div>
<a class="btn btn-secondary" role="button" asp-controller="SecondaryRequest" asp-action="FineshedCreateExcel">Excele Aktar</a>
<div class="offset-10 form-group pull-right mb-3">
    <input type="text" class="search form-control" placeholder="Aranılacak Kelimeyi Giriniz" style="width:300px">
    <span class="counter pull-right"></span>
</div>
<table class="table table-striped table-hover text-center table-bordered results" id="dataTable" style="width:fit-content">
    <thead>
        <tr class="table-light">
            <th>Sıra No</th>
            <th>
                İlçe
            </th>
            <th>
                Yerleşke
            </th>
            <th>
                Kurumsal Altyapı
            </th>
            <th>
                TTNET Metraj
            </th>
            <th>
                TTNET Talep
            </th>
            <th>
                TTNET Durum
            </th>
            <th>
                Switch
            </th>
            <th>
                Konfigürasyon
            </th>
            <th>
                Kablolama
            </th>
            <th>
                PC İmaj Atımı
            </th>
            <th>
                Genel Durum
            </th>
            <th>Güncellenme Tarihi</th>
            <th>Güncelleyen Personel</th>
            <th>İşlem</th>
        </tr>
        <tr class="warning no-result">
            <td colspan="4"><i class="fa fa-warning"></i> No result</td>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in ViewBag.Products)
        {
            @if (item.Status == "Tamamlandı")
            {
                string sepmys = TableRowsColor.RowsColor(item.InstitutialFO!);
                string seom = TableRowsColor.RowsColor(item.TtRequest!);
                string smplso = TableRowsColor.RowsColor(item.TtStatus!);
                string smplsn = TableRowsColor.RowsColor(item.Switch!);
                string schk = TableRowsColor.RowsColor(item.Cable!);
                string schl = TableRowsColor.RowsColor(item.Configuration!);
                string schm = TableRowsColor.RowsColor(item.PcImaje!);
                string schn = TableRowsColor.RowsColor(item.Status!);
                string sdstc = TableRowsColor.RowsColor(item.TtDistance!);
                i++;
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.District</td>
                    <td>@item.Name</td>
                    <td class="@sepmys">@item.InstitutialFO</td>
                    <td class="@sdstc">@item.TtDistance</td>
                    <td class="@seom">@item.TtRequest</td>
                    <td class="@smplso">@item.TtStatus</td>
                    <td class="@smplsn">@item.Switch</td>
                    <td class="@schk">@item.Configuration</td>
                    <td class="@schl">@item.Cable</td>
                    <td class="@schm">@item.PcImaje</td>
                    <td class="@schn">@item.Status</td>
                    <td>@item.UpdatedTime</td>
                    <td>@item.UpdatedPersonel</td>
                    <td>
                        @if (User.HasClaim(x => x.Value == "Admin" || x.Value == "Hat" || x.Value == "Silme"))
                        {
                            @if (User.HasClaim(x => x.Value == "Silme"))
                            {
                                <a type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="btn btn-outline-secondary d-md-block" data-bs-id="@item.Id">Sil</a>
                                @*<a class="btn btn-outline-secondary d-md-block" role="button" asp-controller="SecondaryRequest" asp-action="remove" asp-route-id="@item.Id">Sil</a>*@
                            }
                            <a class="btn btn-outline-secondary d-md-block" role="button" asp-controller="SecondaryRequest" asp-action="update" asp-route-id="@item.Id">Güncelle</a>

                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

@*Modal*@
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Dikkat</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                Silmek İstediğinize Emin Misiniz?
                <form asp-area="" asp-controller="SecondaryRequest" asp-action="Remove" method="post">

                    <input type="hidden" class="form-control" asp-for="Id" id="recipient-name">
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vazgeçtim</button>
                        <button type="submit" class="btn btn-danger d-md-block">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>